@charset "UTF-8";

*,
*::before,
*::after {
  box-sizing: border-box;
}
@font-face {
    font-family:PT Sans;
    src: url(../fonts/PTSans-Regular.ttf);
}

body {
  margin: 0;
  font-family:PT Sans;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
}

/* hr Рысует горизонтальную  линию */
hr {
  margin: 1rem 0;
  color: inherit;
  background-color: currentColor;
  border: 0;
  opacity: 0.25;
}

hr:not([size]) {
  height: 1px;
}

h6, .h6, h5, .h5, h4, .h4, h3, .h3, h2, .h2, h1, .h1 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
}

h1, .h1 {
  font-size: calc(1.375rem + 1.5vw);
}
@media (min-width: 1200px) {
  h1, .h1 {
    font-size: 2.5rem;
  }
}

h2, .h2 {
  font-size: calc(1.325rem + 0.9vw);
}
@media (min-width: 1200px) {
  h2, .h2 {
    font-size: 2rem;
  }
}

h3, .h3 {
  font-size: calc(1.3rem + 0.6vw);
}
@media (min-width: 1200px) {
  h3, .h3 {
    font-size: 1.75rem;
  }
}

h4, .h4 {
  font-size: calc(1.275rem + 0.3vw);
}
@media (min-width: 1200px) {
  h4, .h4 {
    font-size: 1.5rem;
  }
}

h5, .h5 {
  font-size: 1.25rem;
}

h6, .h6 {
  font-size: 1rem;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}
/* Тег <abbr> указывает, что последовательность символов является аббревиатурой*/
abbr[title]
 {
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
  cursor: help;
  -webkit-text-decoration-skip-ink: none;
  text-decoration-skip-ink: none;
}

address {
  margin-bottom: 1rem;
  font-style: normal;
  line-height: inherit;
}

ol,
ul {
  padding-left: 2rem;
}

ol,
ul,
dl {
  margin-top: 0;
  margin-bottom: 1rem;
}

ol ol,
ul ul,
ol ul,
ul ol {
  margin-bottom: 0;
}

dt {
  font-weight: 700;
}

dd {
  margin-bottom: 0.5rem;
  margin-left: 0;
}
/*Тег <blockquote> предназначен для выделения длинных цитат внутри документа*/
blockquote {
  margin: 0 0 1rem;
}

b,
strong {
  font-weight: bolder;
}

small, .small {
  font-size: 0.875em;
}
/*Тег <mark> помечает текст как выделенный*/
mark, .mark {
  padding: 0.2em;
  background-color: #fcf8e3;
}
/*Теги sub и sup, нижний и верхний индексы*/
sub,
sup {
  position: relative;
  font-size: 0.75em;
  line-height: 0;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

a {
  color: #0d6efd;
  text-decoration: underline;
}
a:hover {
  color: #0a58ca;
}

a:not([href]):not([class]), a:not([href]):not([class]):hover {
  color: inherit;
  text-decoration: none;
}

pre {
  display: block;
  margin-top: 0;
  margin-bottom: 1rem;
  overflow: auto;
  font-size: 0.875em;
}
pre code {
  font-size: inherit;
  color: inherit;
  word-break: normal;
}

code {
  font-size: 0.875em;
  color: #d63384;
  word-wrap: break-word;
}

img,
svg {
  vertical-align: middle;
}

table {
  caption-side: bottom;
  border-collapse: collapse;
}

caption {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  color: #6c757d;
  text-align: left;
}

th {
  text-align: inherit;
  text-align: -webkit-match-parent;
}
thead,
tbody,
tfoot,
tr,
td,
th {
  border-color: inherit;
  border-style: solid;
  border-width: 0;
}

label {
  display: inline-block;
}

button {
  border-radius: 0;
}

button:focus:not(:focus-visible) {
  outline: 0;
}

input,
button,
select,
optgroup,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

button,
select {
  text-transform: none;
}

[role=button] {
  cursor: pointer;
}

select {
  word-wrap: normal;
}



button,
  [type=button],
  [type=reset],
  [type=submit] {
  -webkit-appearance: button;
}

button:not(:disabled),
  [type=button]:not(:disabled),
  [type=reset]:not(:disabled),
  [type=submit]:not(:disabled) {
  cursor: pointer;
}

::-moz-focus-inner {
  padding: 0;
  border-style: none;
}

textarea {
  resize: vertical;
}

fieldset {
  min-width: 0;
  padding: 0;
  margin: 0;
  border: 0;
}
/*Тег <legend> применяется для создания заголовка группы элементов формы!**!*/
legend {
  float: left;
  width: 100%;
  padding: 0;
  margin-bottom: 0.5rem;
  font-size: calc(1.275rem + 0.3vw);
  line-height: inherit;
}
@media (min-width: 1200px) {
  legend {
    font-size: 1.5rem;
  }
}
legend + * {
  clear: left;
}

[type=search] {
  outline-offset: -2px;
  -webkit-appearance: textfield;
}


::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-color-swatch-wrapper {
  padding: 0;
}

::-webkit-file-upload-button {
  font: inherit;
  -webkit-appearance: button;
}

output {
  display: inline-block;
}

iframe {
  border: 0;
}

summary {
  display: list-item;
  cursor: pointer;
}

progress {
  vertical-align: baseline;
}

[hidden] {
  display: none !important;
}


.container  {
  width: 100%;
  max-width: 1139px;
  margin-right: auto;
  margin-left: auto;
}

/*@media (min-width: 576px) {
  .container {
    max-width: 850px;
  }
}
@media (min-width: 768px) {
  . container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
   .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
   .container {
    max-width: 1140px;
  }
}
@media (min-width: 1400px) {
    .container {
    max-width: 1320px;
  }
}*/
.row {
  display: flex;
  flex-wrap: wrap;

}
.row > * {
  flex-shrink: 0;
  width: 100%;
  max-width: 100%;

}

.col {
  flex: 1 0 0%;
}

.row-cols-auto > * {
  flex: 0 0 auto;
  width: auto;
}

.row-cols-1 > * {
  flex: 0 0 auto;
  width: 100%;
}

.row-cols-2 > * {
  flex: 0 0 auto;
  width: 50%;
}

.row-cols-3 > * {
  flex: 0 0 auto;
  width: 33.3333333333%;
}

.row-cols-4 > * {
  flex: 0 0 auto;
  width: 25%;
}

.row-cols-5 > * {
  flex: 0 0 auto;
  width: 20%;
}

.row-cols-6 > * {
  flex: 0 0 auto;
  width: 16.6666666667%;
}

.col-auto {
  flex: 0 0 auto;
  width: auto;
}

.col-1 {
  flex: 0 0 auto;
  width: 8.3333333333%;
}

.col-2 {
  flex: 0 0 auto;
  width: 16.6666666667%;
}

.col-3 {
  flex: 0 0 auto;
  width: 25%;
}

.col-4 {
  flex: 0 0 auto;
  width: 33.3333333333%;
}

.col-5 {
  flex: 0 0 auto;
  width: 41.6666666667%;
}

.col-6 {
  flex: 0 0 auto;
  width: 50%;
}

.col-7 {
  flex: 0 0 auto;
  width: 58.3333333333%;
}

.col-8 {
  flex: 0 0 auto;
  width: 66.6666666667%;
}

.col-9 {
  flex: 0 0 auto;
  width: 75%;
}

.col-10 {
  flex: 0 0 auto;
  width: 83.3333333333%;
}

.col-11 {
  flex: 0 0 auto;
  width: 91.6666666667%;
}

.col-12 {
  flex: 0 0 auto;
  width: 100%;
}

.btn {
  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: .375rem .75rem;
  font-size: 1rem;
  border-radius: .25rem;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.navbar-toggler {
  line-height: 1;
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: .25rem;
  transition: box-shadow .15s ease-in-out;
}


.text-center {
  text-align: center!important;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0,0,0,.125);
  border-radius: .25rem;
}
.form {
  display: block;
  width: 100%;
  padding: .375rem .75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: .25rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.align-items {
  align-items: center;
}
.pd20 {
  padding: 20px;
}
.flex {
  display: flex;
}
/*--------------------------------------------
end zagotovka css*/


/*--------------------------------------------
header*/

.header-top {
  height: 70px;
  background:#383838;
  box-shadow: 0px 4px 15px rgba(82, 97, 106, 0.3);
  padding: 10px 0;

}
.header-top  span{
  color:white;
}

.logo {
  width: 180px;

}
@media (max-width: 576px) {
  .logo {
   padding-left: 5px ;
  }
}
.tel-number {
  padding: 0 30px;
}
.tel-number span {
  font-weight: 700;
  font-size: 14px;
  /*padding: 0 5px;*/
}
@media (max-width: 576px) {
  .tel-number {
    display: none;
  }
  .tel-number button{
    display: block;
  }
}

.search {
    height: 34px;
    position: relative;
   /* padding: 0 10px;*/

}
@media (max-width: 576px) {
  .search {
    display: none;
  }
}
.search  input {
  background-color:#646464;
}

.search-icon {
  position: absolute;
  right: 13px;
  top: 5px;
  cursor: pointer;
}

.language-selection {


}
.info {

}
@media (max-width: 576px) {
  .language-selection {
    display: none;
  }

  .info {
    order: 1;
     }
  .info-text {
    display: none;
  }
}

.basket {

}
.basket-icon {
  position: relative;
}
.basket-counter {
  position: absolute;
  right:3px;
  top:2px;
  transform: translate(20%,-10%);
  display: flex;
  /* flex-direction: row; */
  align-items: center;
  justify-content: center;
  min-width: 20px;
  height: 20px;
  padding-left: 4px;
  padding-right: 4px;
  border-radius: 50px;
  font-size: 12px;
  color: #fff;
  background-color: #59D230;
}
@media (max-width: 576px) {
  .basket-text {
    display:none;
  }
}
.pos-rel {
    position: relative;
}
.m-r20 {
    margin-right:20px;
}
/*--------------------------------------------
header-button*/
.header-button {
  background-color: #59D230;
  height: 36px;
  width: 100%;
}

.header-button a{
  font-weight:400;
  font-size: 14px;
  text-align: center;
  color:#383838;
  text-decoration: none;
}

.header-button ul{
  list-style: none;
    height: 32px;
}

.header-button li{
  position: relative;
  padding: 5px 20px;
  /*border-right: 1px solid #383838 ;*/
}

.li-line:before {
  position: absolute;
  right: 0;
  top: 8px;
  width: 0px;
  height: 20px;
  border-right: 1px solid #383838;
  content: "";

}

@media (max-width: 999px) {
    .tel-number {
        display:none;
    }
}
/*--------------------------------------------
section banner*/

.banner {
  margin-top: 40px;
}
.banner-title {
    top: 200px;
    left: 30px;
    position: absolute;
}
.banner-title p {
    font-weight: 400;
    color: white;
    font-size: 49px;
    text-transform:uppercase;

}
.banner-title span {
    color:#59D230;
    font-weight: 900;

}
.banner-title button {
    color:#59D230;
    border-color:#59D230;
    padding: 10px 100px;
}

.banner-indicator {
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;
    text-align: center;
}

.banner-title__leftOne {
    position:absolute ;
    padding: 20px;

}

.banner-title__leftOne p {
    font-style: italic;
    font-size: 14px;

}
.banner-title__leftOne button {
    color:#6122B1;
    border-color:#6122B1;
    padding: 10px 60px;
    font-weight: bold;
    font-size: 14px;
}

.banner-title__leftWho {
    position: absolute;
    padding: 20px;
    bottom: 20px;
}


.banner-title__leftWho  p {
    color: white;
    font-size:21px;
    font-weight: 700;

}

.banner-title__leftWho  a {
    color:#59D230;
    text-transform:uppercase;
}
/*--------------------------------------------
Product Catalog*/
.productCatalog .productCatalog-col{
    background-color: #F7F7F7;

}
.productCatalog-col {
    position: relative;
    width: 23%;
    height: 200px;
    padding: 10px;
    margin: 10px;
    align-items: center;
    align-self: center;
    text-align: center;
}
.productCatalog-img {
    max-width: 100%;
    max-height: 100%;
}

.productCatalog-col img{
    padding-bottom:30px;
    max-width: 127px;
    max-height: 127px;
}
.productCatalog-title {
    font-size: 30px;
    font-weight: 700;
    text-transform:uppercase;
    text-align: center;
    padding: 30px 0;


}

.productCatalog-name {
    position: absolute;
    font-size: 14px;
    font-weight: 400;
    color: #383838;
    text-transform:uppercase;
    text-align: center;
    padding: 10px;
    bottom: 20px;
    left: 0;
    right: 0;
}
.productCatalog-name span {
    text-transform:lowercase;
}
.productCatalog-name {
    content: '>>';
}
/*--------------------------------------------
Brand*/
.brand {
    padding-top: 40px;
}
.brand-title {
    padding: 10px 0;
    width: 100%;
    background-color: #F7F7F7;
    text-align: center;
    margin-bottom: 20px;
}

.brand-title span {
    font-size: 21px;
    font-weight: 700;
}
.brand img {
    max-height: 65px;

}
