@charset "UTF-8";

@font-face {
    font-family: "PT Sans";
url('../fonts/PTSans-BoldItalic.ttf') format('truetype'),
url('../fonts/PTSans-Bold.ttf') format('truetype'),
url('../fonts/PTSans-Regular.ttf') format('truetype'),
url('../fonts/PTSans-Italic.ttf') format('truetype');
}

body {
    margin: 0;
    font-family: 'PT Sans', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
}

.container {
    width: 100%;
    max-width: 1139px;
    margin: 0 auto;

}

/*--------------------------------------------
header*/

.header-top {
    height: 70px;
    background: #383838;
    box-shadow: 0 4px 15px 0 rgba(82, 97, 106, 0.3);
    padding: 10px 0;

}

.header-top-row {
    display: flex;
    align-items: center;
}

.header-top span {
    color: white;
}

.logo {
    width: 180px;

}


@media (max-width: 576px) {
    .logo {
        padding-left: 5px;
    }
}

.tel-number {
    padding: 0 35px;
}

.tel-number span {
    font-weight: 700;
    font-size: 14px;
    /*padding: 0 5px;*/
}

@media (max-width: 775px) {

    .tel-number {
        width: 20px;
    }

    .tel-number__content {
        display: none;
    }

    .tel-number__ico svg {
        display: block;
    }

    .tel-number button {
        display: block;
    }
}

.search {

    position: relative;
    padding-left: 40px;

}

@media (max-width: 576px) {
    .search {
        display: none;
    }
}

@media (min-width: 768px) {

}

.search input {
    background-color: #646464;
}

.search-icon {
    position: absolute;
    right: 13px;
    top: 5px;
    cursor: pointer;
}

.language-selection {
    padding: 0 10px;
}

.info {
    padding: 0 10px;
}

.basket {
    padding: 0 10px;
}

.basket-icon {
    position: relative;
}

.basket-counter {
    position: absolute;
    right: 3px;
    top: 2px;
    transform: translate(20%, -10%);
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 20px;
    height: 20px;
    padding-left: 4px;
    padding-right: 4px;
    border-radius: 50px;
    font-size: 12px;
    color: #fff;
    background-color: #59D230;
}

/*--------------------------------------------
header-button*/
.header-button {
    display: flex;
    background-color: #59D230;
    width: 100%;
}

.header-button nav {
    display: flex;
    align-items: center;

}
.header-button ul {
    display: flex;
    align-items: center;
}
.header-top-row {
    display: flex;
    align-items: center;
}

.header-button__catalog {
    background: white;
    display: inline;
    padding: 5px 15px;

}

.header-button a {
    font-weight: 400;
    font-size: 14px;
    text-align: center;
    color: #383838;
    text-decoration: none;
}

.header-button ul {
    list-style: none;

}

.header-button li {
    position: relative;
    padding: 5px 20px;
    /*border-right: 1px solid #383838 ;*/
}

.li-line:before {
    position: absolute;
    right: 0;
    top: 8px;
    height: 20px;
    border-right: 1px solid #383838;
    content: "";

}

/*---media---*/
@media (max-width: 976px) {
    .header-button__catalog {
        background: #59D230;
        display: inline;
        position: relative;

    }

    .basket-text {
        display: none;
    }

    .header-button ul {
        display: none;

    }

    .language-selection {
        display: none;
    }

    .info {
        order: 1;
    }

    .info-text {
        display: none;
    }
}

@media (max-width: 1130px) {
    .header-button__catalog {
        background: #59D230;
        display: inline;
        position: relative;

    }

    .basket-text {
        display: none;
    }

    .header-button ul {
        display: none;

    }

    .language-selection {
        display: none;
    }

    .info {
        order: 1;
    }

    .info-text {
        display: none;
    }
}

@media (min-width: 992px) {

}

@media (min-width: 1200px) {

}

@media (min-width: 1400px) {

}

/*--------------------------------------------
section banner*/

.banner {
    margin-top: 40px;
    width: 100%;
}

.banner-row {
    display: flex;
    justify-content: space-between;

}

.banner-col-one {
    position: relative;
    width: 70%;
    max-width: 785px;
    padding: 0 10px;
}

.banner-col-dwo {
    position: relative;
    width: 30%;
    max-width: 352px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.banner-col__inner-one {
    position: relative;
    height: 50%;

}

.banner-col__inner-dwo {
    position: relative;
    height: 47%;
    margin-top: 5px;

}

.banner img {
    width: 100%;
    height: 100%;
}

.banner-title {
    position: absolute;
    top: 140px;
    left: 30px;

}

.banner-title p {
    font-weight: 400;
    color: white;
    font-size: 49px;
    text-transform: uppercase;

}

.banner-title span {
    color: #59D230;
    font-weight: 900;

}

.banner-title button {
    color: #59D230;
    border-color: #59D230;
    padding: 10px 100px;
}

.banner-indicator {
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;
    text-align: center;
}

.banner-title__leftOne {
    position: absolute;
    padding: 20px;

}

.banner-title__leftOne p {
    font-style: italic;
    font-size: 14px;

}

.banner-title__leftOne button {
    color: #6122B1;
    border-color: #6122B1;
    padding: 10px 60px;
    font-weight: bold;
    font-size: 14px;
}

.banner-title__leftWho {
    position: absolute;
    padding: 20px;
    bottom: 20px;
}

.banner-title__leftWho p {
    color: white;
    font-size: 21px;
    font-weight: 700;

}

.banner-title__leftWho a {
    color: #59D230;
    text-transform: uppercase;
}

/*---media---*/
@media (max-width: 576px) {
    .banner {
        margin-top: 5px;
    }

    .banner-row {
        display: flex;
        flex-direction: column;
    }

    .banner-col-one {
        width: 100%;
    }

    .banner-col-dwo {
        margin-top: 5px;
        width: 95%;
        align-self: center;
    }

    .banner-col__inner_one {
        margin-top: 5px;
    }

    .banner-col__inner_dwo {
        margin-top: 5px;
    }

    .banner-title {
        position: absolute;
        top: 49px;
        left: 37px;
    }

    .banner-title p {
        font-size: 21px;
    }

    .banner-title button {
        padding: 10px 81px;
        margin-top: -10px;
    }

    .banner-title__leftOne button {
        padding: 7px 14px;
        margin-top: -18px;
    }

    .banner-title__leftOne {
        padding: 7px;
    }
}

@media (max-width: 768px) {

}

@media (max-width: 992px) {

}

@media (max-width: 1200px) {

}

@media (max-width: 1400px) {

}

/*--------------------------------------------
Product Catalog*/
.productCatalog .productCatalog-col {
    background-color: #F7F7F7;

}

.productCatalog-col {
    position: relative;
    width: 23%;
    height: 200px;
    padding: 10px;
    margin: 10px;
    align-items: center;
    align-self: center;
    text-align: center;
}

.productCatalog-img {
    max-width: 100%;
    max-height: 100%;
}

.productCatalog-col img {
    padding: 20px;
    max-width: 127px;
    max-height: 127px;
}

.productCatalog-title {
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    padding: 30px 0;

}

.productCatalog-name {
    position: absolute;
    font-size: 14px;
    font-weight: 400;
    color: #383838;
    text-transform: uppercase;
    text-align: center;
    padding: 10px;
    bottom: 20px;
    left: 0;
    right: 0;
}

.productCatalog-name span {
    text-transform: lowercase;
}

.productCatalog-name {
    content: '>>';
}

/*---media---*/
@media (max-width: 576px) {
    .container {
        width: 100%;
        max-width: 576px;
        margin-right: auto;
        margin-left: auto;
    }

    .productCatalog-col {
        width: 40%;
    }

    .productCatalog-title {
        font-size: 20px;
    }
}

@media (min-width: 768px) {

}

@media (min-width: 992px) {

}

@media (min-width: 1200px) {

}

@media (min-width: 1400px) {

}

/*--------------------------------------------
Brand*/
.brand {
    padding-top: 40px;
    width: 100%;
}

.brand-title {
    padding: 10px 0;
    width: 100%;
    background-color: #F7F7F7;
    text-align: center;
    margin-bottom: 20px;
}

.brand-row {
    position: relative;
    display: flex;
    flex-direction: row;
}

.brand-col {
    padding: 0 8px;
}

.brand-title span {
    font-size: 21px;
    font-weight: 700;
}

.brand img {
    max-height: 65px;

}

/*---media---*/
@media (max-width: 576px) {
    .brand {
        max-width: 576px;
        padding-top: 40px;
        width: 100%;
        overflow: hidden;
    }

    .brand-prev-icon {
        position: absolute;
        right: 7px;
    }
}

@media (min-width: 768px) {

}

@media (min-width: 992px) {

}

@media (min-width: 1200px) {

}

@media (min-width: 1400px) {

}

/*--------------------------------------------
gotoCatalog*/
.gotoCatalog {
    margin-top: 30px;

}

.gotoCatalog-row {
    background: url("../images/gotocatalog/image117.png") no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gotoCatalog-col {
    max-width: 990px;
    padding: 20px;
}

.gotoCatalog-col h1 {
    font-size: 56px;
    text-transform: uppercase;
}

.gotoCatalog-col h2 {
    text-transform: uppercase;
    font-size: 21px;
}

.gotoCatalog-col p, h1, h2 {
    color: white;
}

.gotoCatalog-col span {
    color: #59D230;
}

.gotoCatalog-col button {
    background-color: #59D230;
    padding: 10px 55px;
    font-weight: 700;
}

/*---media---*/
@media (max-width: 576px) {
    .container {
        width: 100%;
        max-width: 576px;
        margin-right: auto;
        margin-left: auto;
    }

    .gotoCatalog-col {
        text-align: center;
        width: 100%;
        max-width: 576px;
    }

    .gotoCatalog-col h1 {
        font-size: 30px;
        text-transform: uppercase;
    }

    .gotoCatalog-col h2 {
        font-size: 14px;
        text-transform: uppercase;
    }
}

@media (min-width: 768px) {

}

@media (min-width: 992px) {

}

@media (min-width: 1200px) {

}

@media (min-width: 1400px) {

}

/*--------------------------------------------
promotional offers*/
.promoOffers {
    padding-top: 40px;
}

.promoOffers-title {
    font-size: 21px;
    font-weight: 700;
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
    max-width: 97%;
    width: 100%;
}

.promoOffers-pref {
    display: flex;
}

.promoOffers-product {
    max-width: 255px;
    padding: 10px;
}

.promooffers-product__image {
    overflow: hidden;
}

.promoOffers-product__title {
    font-size: 12px;
    font-weight: 700;
    max-width: 235px;
    max-height: 334px;
    padding-bottom: 5px;

}

.promoOffers-codRote {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.promoOffers__code {
    font-size: 10px;
    font-weight: 400;
    color: #939393;
    display: flex;
    align-self: center;
    align-content: center;
    align-items: center;
}

.promoOffers__code span {
    font-size: 12px;
    font-weight: 400;
    color: #383838;
    padding-left: 5px;
}

.promoOffers-price {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
}

.promoOffers-price__stock {
    font-weight: bold;
    font-size: 18px;
}

.promoOffers-price__stock span {
    font-size: 10px;
    font-weight: 400;
    color: #939393;
    display: block;
}

.promoOffers-price__button {
    position: relative;
}

.icon-card {
    top: 5px;
    left: 15px;
    position: absolute;
}

.promoOffers-price button {
    background-color: #59D230;
    padding: 7px 50px;
    font-size: 14px;
    font-weight: 700;
}

.promoOffers-buttonAll {
    text-align: center;

    padding: 20px 0;
}

.promoOffers-buttonAll button {
    border-color: #59D230;
    padding: 10px 50px;
    position: relative;
}

.promoOffers-buttonAll svg {
    position: absolute;
    display: block;
    top: 16px;
    left: 20px;

}

/*---media---*/
@media (max-width: 576px) {
    .promoOffers-title span {
        font-size: 16px;
        text-align: center;
    }

    .promoOffers-title {
        justify-content: center;
        margin-right: 10px;

    }

    .promoOffers .row {
        padding: 20px;

    }
}

@media (min-width: 768px) {

}

@media (min-width: 992px) {

}

@media (min-width: 1200px) {

}

@media (min-width: 1400px) {

}

/*--------------------------------------------
ourAdvantages*/

.ourAdvantages {
    padding-top: 30px;
    position: relative;
}

.page-up {
    position: absolute;
    right: 0;
    top: 0;
}

.ourAdvantages-title {
    text-align: center;
    text-transform: uppercase;
    font-size: 30px;
    font-weight: 700;
}

.ourAdvantages-row {
    display: flex;
    flex-wrap: wrap;
}

.ourAdvantages-col {
    width: 520px;
    height: 119px;
    background: #FFFFFF;
    border: 1px solid #383838;
    box-shadow: 19px 19px 0 #101010;
    margin: 12px;
    display: flex;
}

.ourAdvantages-col__figure {
    font-weight: 700;
    font-size: 72px;
    color: #59D230;
    width: 38px;
    height: 74px;
    margin: 0 42px;
}

.ourAdvantages-col__title {
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    text-transform: uppercase;
    padding: 5px 0;

}

.ourAdvantages-col__content {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0;
    text-align: left;

}

/*---media---*/
@media (max-width: 576px) {
    .page-up {
        display: none;
    }

    .ourAdvantages-title {
        font-size: 21px;
    }

    .ourAdvantages-col__figure {
        margin: 0 10px;
    }

    .ourAdvantages-col__content {

        font-size: 12px;
        font-weight: 400;
        line-height: 15px;

    }

}

@media (max-width: 768px) {

}

@media (max-width: 992px) {

}

@media (max-width: 1200px) {

}

@media (max-width: 1400px) {

}

/*--------------------------------------------
contactUs*/

.contactUs {
    padding-top: 100px;

}

.contactUs-row {
    display: flex;
    justify-content: space-between;
    max-width: 1110px;
    background-color: #59D230;
}

.contactUs-col {
    padding-left: 46px;
    max-width: 346px;
    width: 100%;
    padding-bottom: 46px;
}

.contactUs-col div, form, input {
    padding: 10px 0;
}

.contactUs-title {
    text-transform: uppercase;
    font-size: 30px;
    font-weight: 700;
}

.contactUs-content {
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;

}

.contactUs-form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.contactUs-form input, button {
    margin: 5px 0;
    padding: 10px 10px;

}

.contactUs-form input {
    background-color: #59D230;
    border: 1px solid #383838;
    color: #383838;
}

.contactUs-button {
    background-color: #383838;
    width: 300px;
    height: 45px;
    color: #59D230;
}

.contactUs-col__img {
    position: relative;
    max-width: 563px;
    max-height: 408px;
}

.contactUs-col__img img {
    position: absolute;
    top: -106px;
    right: 77px;
    max-width: 563px;
    max-height: 408px;
}

/*---media---*/
@media (max-width: 576px) {
    .contactUs-title {
        text-transform: uppercase;
        font-size: 21px;

    }

    .contactUs-col__img img {
        position: absolute;
        top: -51px;
        right: 77px;
        max-width: 254px;
        max-height: 175px;
    }

    .contactUs-row {
        position: relative;
    }

    .contactUs-col {
        padding-top: 130px;
    }
}

@media (min-width: 768px) {

}

@media (min-width: 992px) {

}

@media (min-width: 1200px) {

}

@media (min-width: 1400px) {

}

/*--------------------------------------------
comment*/
.comment {
    padding-top: 50px;
}

.comment .col {
    position: relative;
    background: #FFFFFF;
    border: 1px solid #D9D9D9;
    padding: 20px;
    max-width: 350px;
    width: 100%;
    margin: 12px;
}

.comment-title {
    max-width: 97%;
    display: flex;
    justify-content: space-between;
    font-size: 21px;
    font-weight: 700;
    line-height: 27px;
    padding: 5px 0;

}

.comment-pref {
    display: flex;
    width: 50px;
    justify-content: space-around;
}

.comment-name {
    font-size: 16px;
    font-weight: 700;
    line-height: 21px;
    letter-spacing: 0;
}

.comment-content {
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0;
}

.comment-date {
    position: relative;
    text-align: end;
    font-size: 10px;
    font-weight: 400;
    line-height: 13px;
    letter-spacing: 0;
    color: #939393;
}

.comment-button {
    text-align: center;
}

.comment-button button {
    border-color: #59D230;
    padding: 10px 50px;
    position: relative;
}

.comment-button svg {
    position: absolute;
    display: block;
    top: 16px;
    left: 20px;
}

.comment-rating {
    position: absolute;
    right: 30px;
    top: 16px;
}

.comment-rating svg {
    position: relative;
    right: 0;
    top: 0;
}

.comment-rating div {
    position: absolute;
    right: 18px;
    top: 0;
}

.pref-left {
    margin-right: 10px;
}

/*---media---*/
@media (max-width: 576px) {
    .comment-col {
        display: none;
    }

    .comment-title {
        max-width: 95%;
        justify-content: center;
    }

    .pref-left {
        margin-left: 40px;
    }
}

@media (min-width: 768px) {

}

@media (min-width: 992px) {

}

@media (min-width: 1200px) {

}

@media (min-width: 1400px) {

}

/*--------------------------------------------
blog*/
.blog {
    padding-top: 50px;
}

.blog .row {
    border-top: 1px solid #D9D9D9;
    border-bottom: 1px solid #D9D9D9;
    padding: 20px 0;
}

.blog-title {
    font-size: 21px;
    font-weight: 700;
    line-height: 27px;
}

.blog-col {
    display: flex;
}

.blog-img {
    padding: 0 5px;
}

.blog-title span {
    font-size: 12px;
    font-weight: 400;
    color: #6122B1;
}

.blog-content {

}

.blog-col__title {
    max-width: 150px;
    font-size: 12px;
    font-weight: 700;
    line-height: 14px;
}

.blog-col__date {
    color: #383838;
    font-size: 10px;
    font-weight: 400;
    line-height: 12px;
    padding-top: 5px;
}

/*---media---*/
@media (max-width: 576px) {
    .blog .row {
        flex-direction: column;
    }

    .blog-col {
        margin-top: 12px;
    }

}

@media (min-width: 768px) {

}

@media (min-width: 992px) {

}

@media (min-width: 1200px) {

}

@media (min-width: 1400px) {

}

/*--------------------------------------------
footer*/
.footer {
    padding-top: 20px;
    margin-top: 50px;
    width: 100%;
    background-color: #383838;
    color: white;
}

.footer li {
    line-height: 2.5;
}

.footer-logo__content {
    max-width: 191px;
    width: 100%;
    color: #939393;
    font-size: 12px;
    font-weight: 400;
    padding-top: 10px;
}

.li-activ {
    color: #59D230;
    padding-bottom: 10px;
    text-transform: uppercase;
}

.main-color-gray {
    color: #939393;
    font-weight: 400;
    font-size: 10px;
}

.lh1 {
    line-height: 1;
}

.footer-button {
    font-weight: 400;
    font-size: 12px;
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #939393;
    padding: 10px 0;
    color: #939393;
}

/*---media---*/
@media (max-width: 576px) {
    footer {
        padding-left: 10px;
        padding-right: 10px;
    }

    .footer .row {
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 768px) {

}

@media (max-width: 992px) {

}

@media (max-width: 1200px) {

}

@media (max-width: 1400px) {

}